<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">

    <a href="/">⬅ На головну</a>

    <h1>Рахунки</h1>

    <a href="/accounts/add">Додати рахунок</a>

    <ul>
        <li th:each="acc : ${accounts}">
            <span th:text="${acc.number}"></span> -
            <span th:text="${acc.balance}"></span> -
            <span th:text="${acc.client != null ? acc.client.name : 'Без клієнта'}"></span>
        </li>
    </ul>

</div>

</body>
</html>