<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <a href="/">⬅ На головну</a>

    <h1>Переказ грошей</h1>

    <div class="success-message" th:if="${message}" th:text="${message}"></div>
    <div class="error-message" th:if="${error}" th:text="${error}"></div>

    <form action="/transfer" method="post">

        <label>З рахунку:</label>
        <select name="fromId">
            <option th:each="a : ${accounts}"
                    th:value="${a.id}"
                    th:text="${a.number + ' | баланс: ' + a.balance}">
            </option>
        </select>

        <label>На рахунок:</label>
        <select name="toId">
            <option th:each="a : ${accounts}"
                    th:value="${a.id}"
                    th:text="${a.number + ' | баланс: ' + a.balance}">
            </option>
        </select>

        <label>Сума:</label>
        <input type="number" name="amount" step="0.01">

        <button type="submit">Переказати</button>
    </form>

    <br>

    <a href="/accounts">⬅ До рахунків</a>

</div>

</body>
</html>